<% include header.html%>
<style>
    input {
        border-radius: 5px;
        background-color: skyblue;
    }
</style>
    <div class="login">
        <div class="box">
            <h2>用户登录</h2>
            <form>
                <div class="inputBox">
                    <input id="userName" type="text" name="" required="">
                    <label>用户名</label>
                </div>
                <div class="inputBox">
                    <input id="password" type="password" name="" required="">
                    <label>密码</label>
                </div>
                <input type="button" onclick="denglu()" name="" value="登录">
                <a href='/toRegister'>没有账号?点此注册</a>
            </form>
        </div>
    </div>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script>

        function denglu () {
          var username = $('#userName').val()
          var password = $('#password').val()
            $.ajax({
                type: 'get',
                url: '/login?username=' + username + '&password=' + password,
                success: function (res) {
                    console.log(res);
                    if (res.length > 0) {
                        alert('登录成功!')
                        window.location.href="/"
                    }
                }
            })
        }
    </script>
<% include footer.html%>