<% include header.html%>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    html {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background: url(./static/imgs/desert.jpg) no-repeat 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }
    .toLogin{
        font-color: royalblue;
    }
    #loginDiv {
        width: 468px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 650px;
        background-color: rgba(75, 81, 95, 0.3);
        box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
        border-radius: 5px;
    }

    #name_trip {
        margin-left: 50px;
        color: red;
    }

    p,
    .sexDiv {
        margin-top: 10px;
        margin-left: 20px;
        color: azure;
    }

    .sexDiv>input,
    .hobby>input {
        width: 30px;
        height: 17px;
    }

    input,
    select {
        margin-left: 15px;
        border-radius: 5px;
        border-style: hidden;
        height: 30px;
        width: 140px;
        background-color: rgba(216, 191, 216, 0.5);
        outline: none;
        color: #f0edf3;
        padding-left: 10px;
    }

    .button {
        border-color: cornsilk;
        background-color: rgba(100, 149, 237, .7);
        color: aliceblue;
        border-style: hidden;
        border-radius: 5px;
        width: 100px;
        height: 31px;
        font-size: 16px;
    }

    .introduce {
        margin-left: 110px;
    }

    .introduce>textarea {
        background-color: rgba(216, 191, 216, 0.5);
        border-style: hidden;
        outline: none;
        border-radius: 5px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        color: #f0edf3;
    }

    b {
        margin-left: 50px;
        color: #FFEB3B;
        font-size: 10px;
        font-weight: initial;
    }
</style>
<body>
<div id="loginDiv">
    <form action="/register" method="post">
        <h1>注册</h1>
        <p>用户姓名:<input id="userName" type="text" onblur="checkName()" autofocus required><label id="name_trip"></label></p>

        <p>用户密码:<input id="password" type="password" required><label id="password_trip"></label></p>

        <p>确认密码:<input id="repassword" type="password" onblur="" required><label id="surePassword_trip"></label></p>

                    <p>
                        用户类型:
                        <select name="type" id="userType">
                            <option value="0">请选择</option>
                            <option value="1">普通类型</option>
                            <option value="2">VIP类型</option>
                        </select>
                        <label id="type_trip"></label>
                    </p>
                    <div class="sexDiv">
                        用户性别:
                        <input class="userSex" name="sex" value="boy" type="radio">男
                        <input class="userSex" name="sex" value="girl" type="radio">女
                        <label id="sex_trip"></label>
                    </div>
                    <p>
                        出生日期:
                        <input id="birthday" type="date">
                        <label id="birthday_trip"></label>
                    </p>
                    <p class="hobby">
                        兴趣爱好:
                        <input type="checkbox" name="hobby" value="read">阅读
                        <input type="checkbox" name="hobby" value="music">音乐
                        <input type="checkbox" name="hobby" value="sport">运动
                        <label id="hobby_trip"></label>
                    </p>
                    <p>
                        电子邮件:
                        <input id="email" type="email" onblur="checkEmail()" required>
                        <label id="emil_trip"></label>
                    </p>
                    <p> 自我介绍:</p>
                    <div class="introduce">
                        <textarea name="introduce" cols="30" id="introduceText" required rows="10"></textarea>
                        <label id="introduce_trip"></label>
                    </div>

        <input type="button" class="button" onblur="checkForm()" onclick='tijiao()'value="提交">
        <input type="reset" class="button" value="重置">
        </p>
        <a href='/' class="toLogin">已有账号?点此登录</a>
    </form>
</div>
</body>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    function trip(obj, trip) {
        document.getElementById(obj).innerHTML = "<b>" + trip + "</b>";
    }
    //对name进行验证
    function checkName(name){
      if(name!=""){
        removeClass(ele.name,"borderRed");
        x = "请输入6-12位密码！";
        document.getElementById("tips").style.display = "inherit";
        return true;
      }else{
        addClass(ele.name,"borderRed");
        x = "对不起，用户名为空！";
        document.getElementById("tips").style.display = "inherit";
        //显示错误提示。
        return false;
      }
    }
    function checkSex() {
        var sexNum = document.getElementsByName("sex");
        var sex = "";
        for (let i = 0; i < sexNum.length; ++i) {
            if (sexNum[i].checked) {
                sex = sexNum[i];
            }
        }
        if (sex == "") {
            trip("sex_trip", "ERROR!!");
            return false;
        } else {
            trip("sex_trip", "OK!!");
        }
    }

    function checkHobby() {
        var hobbyNum = document.getElementsByName("hobby");
        var hobby = "";
        for (let i = 0; i < hobbyNum.length; ++i) {
            if (hobbyNum[i].checked) {
                hobby = hobbyNum[i];
            }
        }
        if (hobby == "") {
            trip("hobby_trip", "ERROR!!");
            return false;
        } else {
            trip("hobby_trip", "OK!!");

        }
    }

    function checkSelect() {
        var myselect = document.getElementById("userType");
        var index = myselect.selectedIndex;
        var checkValue = myselect.options[index].value;
        if (checkValue == 0) {
            trip("type_trip", "请选择!!");
            return false;
        } else {
            trip("type_trip", "OK!!");
        }
    }

    function checkForm() {
      checkSelect ();
      checkHobby ();
      checkSex ();
      checkPassword(password,repassword);
      checkName(name);
    }



    function submit() {
        if (checkForm()) {
            return true;
        } else {
            return false;
        }
    }
    $('#userName').on('blur', function () {
      var userName = $('#userName').val()
      console.log (userName)
      var userNameReg = /^.{3,20}$/
      if (userNameReg.test(userName)) {
        $('#name_trip').html('恭喜您! 用户名验证通过!')
      } else {
        $('#name_trip').html('用户名验证失败!')
      }
    })

    $('#password').on('blur', function () {
      var password = $('#password').val()
      var userNameReg = /^[a-zA-Z]\w{5,17}$/
      if (userNameReg.test(password)) {
        $('#password_trip').html('恭喜您! 密码验证通过!')
      } else {
        $('#password_trip').html('密码验证失败!')
      }
    })

    $('#email').on('blur', function () {
      var email = $('#email').val()
      var emailReg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
      if (emailReg.test(email)) {
        $('#emil_trip').html('恭喜您! 邮箱验证通过!')
      } else {
        $('#emil_trip').html('邮箱验证失败!')
      }
    })

    $('#repassword').on('blur', function () {
      var repassword = $('#repassword').val()
      var password = $('#password').val()
      if (repassword.trim() !== password ) {
        $('#surePassword_trip').html('两次密码输入不一致,请重新输入')
      } else {
        $('#surePassword_trip').html('两次密码输入一致!')
      }
    })
    function tijiao () {


        $.ajax({
            type: 'get',
            url: '/register?userName=' + document.querySelector('#userName').value + '&password=' + document.querySelector('#password').value,
            success: function (res) {
                console.log(res)
                alert('注册成功!')
                window.open("/index")
            }
        })
    }
</script>
<script type="text/javascript">
    function register() {
    var name = $('#name').val();
    var passwords = $('#password').val();
    ajax(name,passwords);
    }
    function ajax(name,passwords) {
    $.ajax({
    async: true, //布尔值，表示请求是否异步处理。默认是 true。
    url: "http://127.0.0.1:3000/", //规定发送请求的 URL
    type: "post",
    data: {
    'name':name,
    'password': passwords
    }, //请求的数据,传给后台的数据
    success: function(backdata) { //请求成功后返回的数据会封装在回调函数的第一个参数中
    //通过backdata来获取所需要的数据
    console.log(backdata)
    },
    error: function(err) { //响应不成功时返回的函数
    console.log(err);
    console.log('请求失败');
    },
    dataType: 'text' //设置返回的数据类型
    })
    }
</script>
<% include footer.html%>